* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inconsolata", monospace;
}

body {
  width: 100vw;
  height: 100vh;
}

.container-timer {
  width: 100%;
  height: 100%;
  background: var(--color-three);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;
  align-items: center;
}

.container-timer img {
  width: 20vmin;
}

.container-content {
  max-width: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  gap: 4rem;
}

.timer-content {
  width: 50vmin;
  height: 50vmin;
  background: var(--color-five);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  gap: 2rem;
  border: 0.4rem solid var(--color-six);
  color: var(--color-six);
  padding: 10rem;
}

.timer-content h2 {
  font-size: 3rem;
}

.timer-content p {
  font-size: 4rem;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.actions button {
  font-weight: bold;
  color: var(--color-five);
  padding: 1.5rem 3.5rem;
  border-radius: 10rem;
  border: 0.5rem solid var(--color-four);
  cursor: pointer;
  transition: all .3s linear;
}

.actions button:hover {
  scale: 1.02;
}

.pause {
  color: var(--color-one);
}